<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div style="margin-left: 15px">
        <h6 style="font-size: 22px">
          <p>
            <br />
            Thank you <b>{{ username }}</b> for purchasing our products.
          </p>
          <p>
            The total price of your bill is <b>${{ totalPrice }}</b>
          </p>
          <br /><br />
          <p>The products will be delivered to you soon.</p>
          <p>Your address is as follow :</p>
          <p><b>Street:</b> {{ this.users[0]?.street }}</p>
          <p><b>City:</b> {{ this.users[0]?.city }}</p>
          <p><b>Zipcode:</b> {{ this.users[0]?.zipcode }}</p>
        </h6>
      </div>
      <a (click)="backHome()"
        ><button
          class="au-btn-submit"
          style="width: 181px; height: 55px; background: green; color: white"
        >
          Confirm
        </button></a
      >
    </div>
  </div>
</div>
